

body {
    background: #808080;
    width: 100%;
    height: auto;
    color: #ffffff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
   /* background: #00bfff;*/
    width: 100%;
    height: auto;
    border-bottom: 1px solid #00bfff;
    
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    color: #00ff00;
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 0 20px;
    
}

h1 {
    color: #00bfff;
    text-align: center;
}

#mark-name {
    color: #ffffff;
    /*display: inline-block;*/
    font-size: 2.5rem;
    font-weight: bolder;
    
}
h2 {
    
    text-align: center;
}

span {
    color: #00ff00;
}

.about-container {
    color: #ffffff;
    border: 2 px solid #808080;
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bolder;
    box-shadow: #00bfff 0px 0px 10px 0px;

}