body {
    background: #808080;
    width: 100vh;
}

h1 {
    color: #00bfff;
    text-align: center;
}

h2 {
    color: #ffffff;
    text-align: center;
}

span {
    color: #00bfff;
}

.about-container {
    color: #ffffff;
    

}